.branches-home--wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.branches-home--image-container {
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
  max-height: 600px;
  /* padding-left: 3em; */
  /* padding-right: 3em; */
  display: grid;
  position: relative;
  grid-column: 7 / 12;
}
.branches-home--content-info {
  flex-direction: column;
  flex: 1 1 0%;
  height: auto;
  min-height: 400px;
  padding: 0px 6em;
  display: flex;
  grid-column: 1 / 7;
}

.branches-home--image__content {
  background-color: antiquewhite;
  overflow: hidden;
  position: relative;
 
}
.branches-home--image__content img{
 transition:  ease-in-out 0.6s;
}
.branches-home--image__content img:hover  {
   transform: scale(1.05);
    
}

.branches-home--image__content.item-content-first {
  grid-column: 1 / 7;
  grid-row: 1 / 13;
  border-radius: 146px 20px 146px 146px;
}

.branches-home--image__content.item-content-firt {
  height: 600px;
}
.branches-home--image__content.item-content-second {
  height: 480px;
  border-radius: 20px 161px 146px 146px;
}
.branches-home--image__content.item-content-second {
  grid-column: 7 / 13;
  grid-row: 2 / 10;
}

.branches-home--image__float {
  background-color: var(--primary-color);
  border-radius: 100px;
  padding: 1em;
  position: absolute;
  grid-column: 5 / 12;
  grid-row: 8 / 12;
  box-shadow: 0px 3px 12px 3px hsla(var(--secondary-color-darker-hsl), 0.27);
}

.branches-home--image__float .icon {
  background-color: var(--primary-color-light);
  padding: 1em;
  border-radius: 100%;
  color: var(--secondary-color);
}

.branches-home--image__float .item-content-info {
  padding-right: 1em;
}

@media screen and (max-width: 1280px) {
  .branches-home--content-info {
    padding: 24px;
  }
  .branches-home--image__float--paragraph{
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .branches-home--wrapper {
    flex-direction: column;
  }
  .branches-home--image-container {
    padding-top: 48px;
    grid-column: 1 / 13;
  }
  .branches-home--content-info {
    padding: 16px;
    grid-column: 1 / 13;
  }

  
}

.content-block__body ul {
  padding-left: 1em;
  line-height: 32px;
}

.content-block__body ul li {
  position: relative;
  display: flex;
  align-items: center;
}
.content-block__body ul li p {
  padding-left: 1.5em;
}
.content-block__body ul li p::before {
  position: absolute;
  content: "";
  left: 0;
  top: 10px;
  width: 0.8em;
  height: 0.8em;
  background-color: var(--secondary-color-dark);
  margin-right: 20px;
  border-radius: 100%;
  display: block;
}


@media screen and (max-width: 680px){
  .branches-home--image__content.item-content-first{
    grid-column: 1 / 6;
  }
  .branches-home--image__content.item-content-second{
    grid-column: 6 / 11;
  grid-row: 2 / 10;
  }
  .branches-home--image__float{
    grid-column: 4 / 8;
  }
}