.newsletter-home-wrapper {
  min-height: 980px;
  height: 100dvh;
  height: 100vh;
  /**position: sticky; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin-top: -100vh;

}

@media screen and (max-width: 768px) {
  .newsletter-home-wrapper {
    height: auto;
    position: relative;
  }
}

.newsletter-home-wrapper::after {
  content: "";
  background-color: var(--primary-color);
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  background-size: cover;
}

.newsletter-home-wrapper:before {
  content: "";
  background-color: var(--primary-color);
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(/images/bg-banner.jpg);
}

.newsletter-home-content {
  position: relative;
  z-index: 8;
  border-radius: 32px;
  width: 860px;
  padding: 4em;
  background-color: white;
}

.newsletter-home-content__form {
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.newsletter-home-content__form--content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.newsletter-home-content__image--content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.newsletter-home-content__image img {}

.newsletter-home-content__image--content {}

@media screen and (min-width: 2560px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 980px) {
  .newsletter-home-content__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .newsletter-home-content {
    margin-left: 0;
    max-width: 680px;
    margin-block: 24px;
  }

  .newsletter-home-content__image--content img {
    width: 300px;
    height: auto;
  }

}

@media screen and (max-width: 768px) {
  .newsletter-home-content {
    max-width: 340px;
    margin-inline: auto;
    padding: 2em;
  }

}