.newsletter-home-wrapper {
  display: grid;
  min-height: 980px;
}
.newsletter-home-wrapper {
  justify-content: center;
  align-items: center;
  position: relative;
  padding-block: 48px;
}
.newsletter-home-content {
  display: grid;
  gap: 2em;
  position: relative;
  overflow: hidden;
  max-height: 530px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.newsletter-home-content__form {
  grid-column: 7 / 11;
  grid-row: 3 / 11;
  max-width: 540px;
}

.newsletter-home-content__image {
  background-color: transparent;
  grid-column: 1 / 7;
  grid-row: 1 / 13;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  position: relative;
}

.newsletter-home-content__image img {
  max-width: 560px;
  width: 100%;
  height: auto;
  padding: 20px;
}

.newsletter-home-content__image--content {
  position: relative;
  grid-column: 3 / 11;
}

@media screen and (min-width: 2560px) {
  .newsletter-home-content__image--content {
    height: 700px;
  }
  .newsletter-home-content__image img {
    object-fit: none;
  }
  .newsletter-home-content__image {
    height: 750px;
    max-width: 750px;
  }
  .newsletter-home-content__image--content {
    grid-column: 1 / 13;
    height: 670px;
  }
}

@media screen and (max-width: 1280px) {
  .newsletter-home-content__form {
    grid-column: 6 / 13;
  }
  .newsletter-home-content__image {
    grid-column: 1 / 6;
  }
  .newsletter-home-content__image--content {
    grid-column: 1 / 13;
  }
  .newsletter-home-content__image img {
    object-fit: contain !important;
  }
}

@media screen and (max-width: 980px) {
  .newsletter-home-content {
    max-height: 768px;
  }

  .newsletter-home-content__image {
    grid-row: 1 / 6;
    grid-column: 1 / 13;
  }
  .newsletter-home-content__form {
    grid-row: 6 / 13;
    grid-column: 1 / 13;
    padding-inline: 24px;
  }
}
