.newsletter-home-wrapper {
  min-height: 980px;
  height: 100dvh;
  height: 100vh;
  /**position: sticky; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  /*margin-top: -100vh;*/
}

.newsletter-wrapper {
  text-align: center;
  padding: 4em;
  flex: 1;
  @media screen and (max-width: 768px) {
    padding:1.5em 1em;
    .content-block__content{
      width: 100%;
    }
    .newsletter-home-content__image--content img{
      width: 240px;
    }
  }
}

.newsletter-wrapper .content-block__title {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .newsletter-home-wrapper {
    height: auto;
    position: relative;
  }

}

.newsletter-home-wrapper::after {
  content: "";
  background-color: var(--primary-color);
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  background-size: cover;
}

.newsletter-home-wrapper:before {
  content: "";
  background-color: var(--primary-color);
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(/images/bg-banner.jpg);
}

.newsletter-home-content {
  position: relative;
  z-index: 8;
  border-radius: 32px;
  width: 780px;
  height: 400px;
  padding: 0;
  background-color: white;
  overflow: hidden;
}

.newsletter-home-content__form {
  gap: 24px;
  display: flex;

}

.newsletter-home-content__form--content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.newsletter-home-content__image--content {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  flex: 1;
}

.newsletter-home-content__image--content img {
  width: 340px;
  flex-shrink: 0;
}

.newsletter-home-content__image--content {}

.newsletter-social {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  color: var(--secondary-color);

  .newsletter-social__icons {
    width: 48px;
    height: 48px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
  }
}

@media screen and (min-width: 2560px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 980px) {
  .newsletter-home-content{
    padding: 0
  }
  

  .newsletter-home-content {
    margin-left: 0;
    max-width: 680px;
    margin-block: 24px;
    height: auto;
  }

  .newsletter-home-content__image--content img {
    width: 300px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .newsletter-home-content {
    max-width: 340px;
    margin-inline: auto;

  }
}
@media screen and (max-width: 768px){
  .newsletter-home-content__form {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
  }
}