@import "tailwindcss";
@import "tw-animate-css";

:root {
  --secondary-h: 29;
  --secondary-s: 79%;
  --secondary-l: 41%;

  --primary-h: 44;
  --primary-s: 92%;
  --primary-l: 71%;

  --accent-h: 188;
  --accent-s: 52%;
  --accent-l: 26%;

  --background-h: 40;
  --background-s: 71%;
  --background-l: 92%;

  /* ===================================== */
  /* ⚠️ NO TOCAR ABAJO - Se calcula automáticamente */
  /* ===================================== */

  --white-hsl: 0, 0%, 100%;
  --background-hsl:
    var(--background-h), var(--background-s), var(--background-l);
  --foreground-hsl: 0, 0%, 9%;
  --primary-color-hsl: var(--primary-h), var(--primary-s), var(--primary-l);
  --primary-color-light-hsl: 43, 95%, 99%;
  --primary-color-outline-hsl:
    var(--secondary-h), var(--secondary-s), var(--secondary-l);
  --secondary-color-hsl:
    var(--secondary-h), var(--secondary-s), var(--secondary-l);
  --secondary-color-dark-hsl:
    var(--secondary-h), calc(var(--secondary-s) + 3%),
    calc(var(--secondary-l) - 17%);
  --secondary-color-darker-hsl:
    var(--secondary-h), calc(var(--secondary-s) + 3%),
    calc(var(--secondary-l) - 24%);
  --accent-color-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --e-global-text-color-hsl: 29, 5%, 43%;
  --e-global-text-dark-hsl: 28, 75%, 3%;

  /* Colores aplicados */
  --white: hsl(var(--white-hsl));
  --background: hsl(var(--background-hsl));
  --foreground: hsl(var(--foreground-hsl));
  --primary-color: hsl(var(--primary-color-hsl));
  --primary-color-light: hsl(var(--primary-color-light-hsl));
  --primary-color-fade: hsla(var(--primary-color-light-hsl), 0.53);
  --primary-color-outline: hsla(var(--primary-color-outline-hsl), 0.2);
  --secondary-color: hsl(var(--secondary-color-hsl));
  --secondary-color-dark: hsl(var(--secondary-color-dark-hsl));
  --secondary-color-darker: hsl(var(--secondary-color-darker-hsl));
  --primary-foreground: hsl(var(--secondary-color-hsl));
  --secondary-foreground: hsl(var(--primary-color-hsl));

  --accent-color: hsl(var(--accent-color-hsl));
  --e-global-text-color: hsl(var(--e-global-text-color-hsl));
  --e-global-text-dark: hsl(var(--e-global-text-dark-hsl));

  --secondary-lighter: hsl(
    var(--secondary-h),
    var(--secondary-s),
    calc(var(--secondary-l) + 19%)
  );
  --secondary-lightest: hsl(
    var(--secondary-h),
    var(--secondary-s),
    calc(var(--secondary-l) + 44%)
  );
  --secondary-darker-alt: hsl(
    var(--secondary-h),
    calc(var(--secondary-s) + 3%),
    calc(var(--secondary-l) - 31%)
  );

  --secondary-hover: hsl(
    var(--secondary-h),
    var(--secondary-s),
    calc(var(--secondary-l) - 25%)
  );
  --secondary-hover-darkest: hsl(
    var(--secondary-h),
    var(--secondary-s),
    calc(var(--secondary-l) - 28%)
  );

  /* Fuentes */
  --font-poppins: "Poppins", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary-h: 29;
    --secondary-s: 79%;
    --secondary-l: 41%;

    --primary-h: 44;
    --primary-s: 92%;
    --primary-l: 71%;

    --accent-h: 188;
    --accent-s: 52%;
    --accent-l: 26%;

    --background-h: 40;
    --background-s: 71%;
    --background-l: 92%;

    --white-hsl: 0, 0%, 100%;
    --background-hsl:
      var(--background-h), var(--background-s), var(--background-l);
    --foreground-hsl: 0, 0%, 9%;
    --primary-color-hsl: var(--primary-h), var(--primary-s), var(--primary-l);
    --primary-color-light-hsl: 43, 95%, 99%;
    --primary-color-outline-hsl: 8, 51%, 23%;
    --secondary-color-hsl:
      var(--secondary-h), var(--secondary-s), var(--secondary-l);
    --secondary-color-dark-hsl:
      var(--secondary-h), calc(var(--secondary-s) + 3%),
      calc(var(--secondary-l) - 17%);
    --secondary-color-darker-hsl:
      var(--secondary-h), calc(var(--secondary-s) + 3%),
      calc(var(--secondary-l) - 24%);
    --accent-color-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
    --e-global-text-color-hsl: 29, 5%, 43%;
    --e-global-text-dark-hsl: 28, 75%, 3%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100dvh;
  min-height: 100vh;
}

.sub-banner {
  padding-block: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  background-color: var(--background);
  gap: 32px;
  background-image: url(/images/bg-banner.jpg);
}

.sub-banner_breadcrumb {
  background-color: var(--primary-color-light);
  padding: 1em 2em;
  border-radius: 48px;
  font-weight: 600;
  text-transform: capitalize;
  max-width: fit-content;
}

.sub-banner h1 {
  font-family: var(--font-poppins), sans-serif;
  font-size: clamp(2em, 5vw, 4em);
  font-weight: 600;
}

.sub-banner_breadcrumb p {
  color: var(--e-global-text-dark);
}

.banner-cta,
.about-home,
.product-home,
.branches-home {
  padding-block: 142px;
}

@media screen and (max-width: 980px) {
  .banner-cta,
  .about-home,
  .product-home {
    padding-block: 60px;
  }
}

.bg-light {
  background-color: var(--primary-color-light);
}

.body_content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.grid-image_left {
  grid-column: 1 / 7;
}
.grid-content_left {
  grid-column: 1 / 7;
}
.grid-content_right {
  grid-column: 7 / 13;
}
.grid-image_right {
  grid-column: 7 / 13;
}

@media screen and (max-width: 980px) {
  .grid-image_left,
  .grid-image_right,
  .grid-content_left,
  .grid-content_right {
    grid-column: 1 / 13;
  }
}

.section-header {
  padding-top: 6em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 1em;
}

@media screen and (max-width: 980px) {
  .section-header {
    padding-top: 2em;
  }
}

.section-header--center {
  justify-content: center;
  align-items: center;
}

.section-header__title {
  font-size: clamp(2.3em, 3.9vw, 72px);
  font-weight: 600;
  line-height: clamp(40px, 3.9vw, 72px);
  font-family: var(--font-poppins), sans-serif;
}

.section-header__title span {
  color: var(--secondary-color);
}

.section-header__subtitle {
  color: hsla(var(--e-global-text-color-hsl), 0.9);
  font-family: var(--font-dm-sans), sans-serif;
}

.button__cta {
  display: inline-flex;
  background-color: var(--primary-color);
  width: auto;
  border-radius: 48px;
  font-size: 1em;
  font-weight: 600;
  gap: 0.5em;
  align-items: center;
  box-shadow: 0px 3px 22px 3px hsla(var(--secondary-color-dark-hsl), 0.27);
  transition: all 0.3s ease-in-out;
}

.button__cta {
  color: hsl(var(--secondary-color-dark-hsl));
}

.button__cta:hover span,
.button__cta--secondary:hover span {
  transform: translateX(10px);
  transition: all 0.3s ease-in-out;
}

.button__cta span,
.button__cta--secondary span {
  transform: translateX(0px);
  transition: all 0.3s ease-in-out;
}

.button__cta:hover,
.button__cta--secondary:hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.button__cta:hover {
  box-shadow: 0px 3px 22px 3px hsla(var(--secondary-color-dark), 0.27);
}

.button__cta:focus-visible,
.button__cta--secondary:hover {
  background-color: var(--secondary-color);
}

.button__cta:hover {
  background-color: hsl(
    var(--primary-h),
    var(--primary-s),
    calc(var(--primary-l) - 15%)
  );
}

.button__cta span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 100%;
  z-index: -1;
  background-color: var(--secondary-color-darkest);
}

.button__cta span {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__cta--secondary:hover {
  color: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 45%));
}

.button__cta--secondary:hover span:before,
.button__cta:hover span:before {
  background-color: hsl(
    var(--primary-h),
    var(--primary-s),
    calc(var(--primary-l) - 20%)
  );
}

.button__cta--secondary {
  display: inline-flex;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 1.5em 1.5em 1.5em 2em;
  width: auto;
  border-radius: 48px;
  font-size: 1em;
  font-weight: 600;
  gap: 0.5em;
  align-items: center;
  box-shadow: 0px 3px 22px 3px hsla(var(--secondary-color-darker-hsl), 0.27);
  transition: all 0.3s ease-in-out;
}

.button__cta--secondary span {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__cta--secondary span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  top: 0;
  left: 0;
  border-radius: 100%;
  z-index: -1;
}

.button__cta,
.button__cta--secondary {
  padding: 0.5em 1em 0.5em 1.5em;
  height: auto;
}
.button__cta--secondary {
  color: var(--primary-color-light);
}
.aos-animate {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.aos-animate.show {
  opacity: 1;
  transform: translateY(0);
}
