@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* RGB */
  --white-rgb: 255, 255, 255;
  --background-rgb: 248, 240, 221;
  --foreground-rgb: 23, 23, 23;
  --primary-color-rgb: 249, 221, 113;
  --primary-color-light-rgb: 254, 253, 251;
  --primary-color-outline-rgb: 186, 101, 22;
  --secondary-color-rgb: 186, 101, 22;
  --secondary-color-dark-rgb: 113, 61, 11;  
  --accent-color-rgb: 32, 93, 101;
  --e-global-text-color-rgb: 115, 109, 104;
  --e-global-text-dark-rgb: 14, 7, 2;

  /* Colores normales */
  --white: rgb(var(--white-rgb));
  --background: rgb(var(--background-rgb));
  --foreground: rgb(var(--foreground-rgb));
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-light: rgb(var(--primary-color-light-rgb));
  --primary-color-fade: rgba(var(--primary-color-light-rgb), 0.53);
  --primary-color-outline: rgba(var(--primary-color-outline-rgb), 0.2);
  --secondary-color: rgb(var(--secondary-color-rgb));
  --secondary-color-dark: rgb(var(--secondary-color-dark-rgb));  
  --primary-foreground: rgb(var(--secondary-color-rgb));
  --secondary-foreground: rgb(var(--primary-color-rgb));

  --accent-color: rgb(var(--accent-color-rgb));
  --e-global-text-color: rgb(var(--e-global-text-color-rgb));
  --e-global-text-dark: rgb(var(--e-global-text-dark-rgb));

  /* Fuentes */
  --font-poppins: "Poppins", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--white);

  --color-primary: var(--primary-color);
  --color-primary-light: var(--primary-color-light);
  --color-primary-outline: var(--primary-color-outline);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary-color);
  --color-secondary-dark: var(--secondary-color-dark);  
  --color-secondary-foreground: var(--secondary-foreground);

  --secondary-color-alpha: rgba(var(--secondary-color-rgb), 0.27);  

  --font-sans: var(--font-poppins);
  --font-mono: var(--font-poppins);

  --color-global-text: var(--e-global-text-color);
  --color-global-text-dark: var(--e-global-text-dark);

  --color-accent: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white-rgb: 255, 255, 255;
    --background-rgb: 248, 240, 221;
    --foreground-rgb: 23, 23, 23;
    --primary-color-rgb: 249, 221, 113;
    --primary-color-light-rgb: 254, 253, 251;
    --primary-color-outline-rgb: 186, 101, 22;
    --secondary-color-rgb: 186, 101, 22;
    --secondary-color-dark-rgb: 113, 61, 11;
    --accent-color-rgb: 32, 93, 101;
    --e-global-text-color-rgb: 115, 109, 104;
    --e-global-text-dark-rgb: 14, 7, 2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100dvh;
  min-height: 100vh;
}

.sub-banner {
  padding-block: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  background-color: var(--background);
  gap: 32px;
  background-image: url(/images/bg-banner.jpg);
}

.sub-banner_breadcrumb {
  background-color: var(--primary-color-light);
  padding: 1em 2em;
  border-radius: 48px;
  font-weight: 600;
  text-transform: capitalize;
  max-width: fit-content;
}

.sub-banner h1 {
  font-family: var(--font-poppins), sans-serif;
  font-size: clamp(2em, 5vw, 4em);
  font-weight: 600;
}

.sub-banner_breadcrumb p {
  color: var(--e-global-text-dark);
}

.banner-cta,
.about-home,
.product-home{
  padding-block: 142px;
}

@media  screen and (max-width: 980) {
  .banner-cta, .about-home, .product-home{
    padding-block: 60px;
  }
}

.bg-light {
  background-color: var(--primary-color-light);
}

.body_content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.grid-image_left {
  grid-column: 1 / 7;
}
.grid-content_left {
  grid-column: 1 / 7;
}
.grid-content_right {
  grid-column: 7 / 13;
}
.grid-image_right {
  grid-column: 7 / 13;
}

@media screen and (max-width: 980px) {
  .grid-image_left,
  .grid-image_right,
  .grid-content_left,
  .grid-content_right {
    grid-column: 1 / 13;
  }
}

.section-header{
  padding-top: 6em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 980px) {
  .section-header{
 padding-top: 2em;
  }
}

.section-header--center{
  justify-content: center;
  align-items: center;
}

.section-header__title{
  font-size: clamp(2.3em, 3.2vw, 3.2vw);
  font-weight: 600;
  line-height: clamp(40px, 4vw, 4vw);
}

.section-header__title span {
    color: var(--secondary-color);
     font-family: var(--font-poppins), sans-serif;
}

.section-header__subtitle{
  color: rgb(var(--e-global-text-color-rgb), .9);
      font-family: var(--font-dm-sans), sans-serif;
}

.button__cta {
  display: inline-flex;
  background-color: var(--secondary-color);
  padding: 1.5em 2em;
  width: auto;
  color: var(--primary-color);
  border-radius: 48px;
  font-size: 1em;
  font-weight: 600;
  gap: 1em;
  align-items: center;
  box-shadow: 0px 3px 22px 3px rgba(var(--secondary-color-rgb), 0.27); 
  transition: all 0.3s ease-in-out;
  height: 72px;
}

.button__cta:hover svg {
  transform: translateX(4px);
  transition: all 0.3s ease-in-out;
}

.button__cta svg {
  transform: translateX(0px);
  transition: all 0.3s ease-in-out;
}

.button__cta:hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button__cta:hover,
.button__cta:focus-visible {
  background-color: var(--secondary-color-dark); 
}



.aos-animate {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.aos-animate.show {
  opacity: 1;
  transform: translateY(0);
}
