#about {
  background-color: var(--primary-color-light);
}
.journey-con {
  padding-inline: 4em;
  display: grid;
  padding-block: 8em;
  gap: 1em;
  grid-template-columns: repeat(12, 1fr);
}

.journey-image {
  width: 100%;
  height: auto;
  display: grid;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 980px) {
  .journey-image {
    height: 400px;
  }
}

.journey-image img {
  width: 100%;
  height: 380px !important;
  max-width: 380px;
  overflow: hidden;
  margin: 0px auto;
  border-radius: 50%;
}
.journey_content {
  display: flex;
  flex-direction: column;
  gap: 3em;

  justify-content: center;
  align-items: center;
}
.about-section__title {
  font-size: 54px;
  font-weight: 600;
  font-family: var(--font-poppins);
}
.about-section__text {
  max-width: 580px;
  width: 100%;
  gap: 1em;
  color: var(--e-global-text-color);
  font-family: var(--font-dm-sans);
}
.about-section__content {
  width: 100%;
  max-width: 580px;
}
.about-section__content .about-section__cta {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  transition: all 0.8s ease-in-out;
}

.about-section__cta {
  display: inline-flex;
  background-color: var(--secondary-color);
  padding: 1.5em 2em;
  width: auto;
  color: var(--primary-color);
  border-radius: 48px;
  font-size: 1em;
  font-weight: 600;
  gap: 1em;
  align-items: center;
  box-shadow: 0px 3px 22px 3px var(--secondary-color-aplpha);
  transition: all 0.8s ease-in-out;
}
.about-section__cta:hover svg {
  transform: translateX(4px);
  transition: all 0.8s ease-in-out;
}
.about-section__cta svg {
  transform: translateX(0px);
  transition: all 0.8s ease-in-out;
}
.about-section__cta:hover {
  transition: all 0.8s ease-in-out;
}
.about-section__cta:hover {
  background-color: var(--primary-color);
  color: var(--color-primary-foreground);
}

#our-philosophy p {
  color: black;
}

.journey-con.aos-animate {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.journey-con.aos-animate.show {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 980px) {
  .journey-con {
    padding-inline: 4em;
    display: grid;
    padding-block: 2em;
    gap: 2em;
    place-items: center;
  }
}
@media screen and (max-width: 980px) {
  .journey-con {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .journey-con {
    padding-inline: 0em;
    display: grid;
    padding-block: 0em;
    gap: 2em;
    place-items: center;
    margin-bottom: 2em;
  }
  .journey-image {
    max-width: 200px;
    max-height: 200px;
  }
  .about-section__text {
    font-size: 14px;
  }
  .about-section__title {
    font-size: 32px;
  }
}
