#contact {
  background-color: var(--primary-color-light);
}

#contactWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

#contactWrapper .contact_form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-block: 3em;
}

#contactWrapper .contact_form .contact_form-info {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#contactWrapper .content-block__wrapper {
  justify-content: center !important;
  align-items: center;
  text-align: center;
}

#contactWrapper .content-block__body {
  gap: 8px;
}

@media screen and (max-width: 980px) {
  #contactWrapper .contact_form .contact_form-info {
    grid-column: 1 / 13;
    gap: 1em;
  }
}

#contactWrapper form {
  display: flex;
  flex-direction: column;
  grid-column: 5 / 13;
  gap: 2em;
}

@media screen and (max-width: 980px) {
  #contactWrapper form {
    grid-column: 1 / 13;
    gap: 1em;
    margin-top: 2em;
  }
}

#contactWrapper .contact_form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#contactWrapper .contact_form-group label {
  font-weight: 600;
  color: var(--color-global-text);
}

#contactWrapper .contact_form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}

@media screen and (max-width: 768px) {
  #contactWrapper .contact_form-wrapper {
    grid-template-columns: 1fr;
  }
}

#contactWrapper .contact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 3em;
}

#contactWrapper .contact__content h2 {
  font-weight: 600;
  font-size: clamp(1em, 6vw, 40px);
  font-family: var(--font-poppins), sans-serif;
}

#contactWrapper .contact__content h2 span {
  color: var(--accent-color);
}

#contactWrapper .contact__content p,
#contactWrapper .contact__box p {
  color: var(--color-global-text);
  font-family: var(--font-dm-sans);
}

.contact__icon {
  background-color: rgb(var(--primary-color-rgb), 0.5);
  padding: 0.5em;
  border-radius: 50%;
  color: var(--secondary-color);
}

.contact__icon svg {
  stroke-width: 2px;
}

.contact__box {
  padding: 2em;
  display: flex;
  gap: 2em;
  align-items: center;
  box-shadow: 0 2px 73px 2px rgb(0 0 0 / 5%);
}

.contact__box h3 {
  font-weight: 600;
  text-transform: capitalize;
}

.contact__box p {
  font-size: 0.875em;
}


.contact-support {
  --direction: row;
  width: 100%;
  max-width: 100% !important;
  gap: 24px;

  .contact-support__box {
    width: 100%;
    display: flex;
    flex-direction: column !important;
    flex-direction: var(--direction);
    background-color: var(--background);
    padding: 16px;
  }

  .contact-support__box-title {
    font-weight: 700;
    color: var(--secondary-color);
    font-size: 20px;
  }

  .contact-support__box-phone {
    font-weight: 700;
    color: var(--secondary-color);

    p {
      color: var(--secondary-color);
    }
  }

  .contact-support__box-address {
    color: var(--secondary-color);
  }
}

@media screen and (max-width: 1024px) {
  .contact-support {
    --direction: column;

    flex-direction: var(--direction);
  }
}

@media screen and (max-width: 768px){
  .content-block__body{
    text-align: left;
  }
}