.branches-map-container {
  display: grid;
  grid-template-columns: 450px 1fr;
  height: 100dvh;
  background-color: white;
}
.branches-sidebar {
  background-color: var(--white);
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.sidebar-header {
  position: sticky;
  padding-inline: 2em;
  padding-block: 2em;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid var(--primary-color-outline);
}

.sidebar-header h2 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-family: var(--font-poppins), sans-serif;
}

.search-box input:focus {
  outline: none;
}
.search-box input {
  padding-left: 3em;
}
.search-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

.branch-card {
  border-radius: 0.5rem;
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  border-bottom: 1px solid var(--primary-color-outline);
}

.search-box {
  position: relative;
  margin-bottom: 1rem;
}

.search-box input {
  width: 100%;
  padding: 1rem 1rem 1rem 3rem;
  border-radius: 12px;
  border: 2px solid #e5e5e5;
  background: white;
  font-size: 0.95rem;
}

.location-btn {
  width: 100%;
  padding: 0.875rem;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
  font-size: 0.95rem;
  font-weight: 600;
  transition: all 0.3s;
}

.location-btn:hover {
  color: white;
}

.branches-count {
  color: #666;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.branches-list {
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.branch-card:hover {
  transform: translateY(-6px);
  background-color: #f1f1f1;
}

.branch-card.active {
}

.branch-card h3 {
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
  font-family: var(--font-poppins), sans-serif;
  color: var(--secondary-color);
}

.branch-card__address {
  color: var(--e-global-text-color);
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
  line-height: 1.6;
}

.branch-card__hours {
  color: var(--accent-color);
  font-size: 0.875rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.branch-card__cta {
  cursor: pointer;
  border-radius: 16px;
  width: 100%;
  padding: 0.875rem;
  font-size: 0.95rem;
  font-weight: 600;
  transition: all 0.3s;
  display: flex;
  justify-content: flex-start;
  border: 1px solid var(--primary-color-outline);
}

.branch-card__cta:hover {
  transform: translateY(-2px);
  background-color: var(--background);
}

@media (max-width: 968px) {
  .sidebar-header h2 {
    font-size: 1.3rem;
  }
  .branches-map-container {
    grid-template-columns: 1fr;
    grid-template-rows: 60vh 40vh;
  }
}
