.branch-grid {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 980px) {
    grid-template-columns: repeat(3, 1fr);
  }

  grid-gap: 24px;
  padding-bottom: 8rem;
  padding-top: 4rem;
}

.branch-title--info-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    color: var(--secondary-color);
    font-family: var(--font-poppins), sans-serif;
    font-size: max(2.3em, min(2.9vw, 72px));
    font-weight: 600;
    line-height: max(40px, min(3.9vw, 68px));
  }
}

.branch-grid_item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.branch-grid_item--name {
  font-weight: 600;
  margin-bottom: 12px;
  letter-spacing: 0.5px;
}

.branch-grid_item--address,
.branch-grid_item--time,
.branch-grid_item--phone {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--e-global-text-color);
  font-family: var(--font-dm-sans), sans-serif;
}

.branch-grid_button {
  font-family: var(--font-dm-sans), sans-serif;
}
