.home_carousel--wrapper {
  background-color: #ffffff;
  width: fit-content;
  max-width: 70dvw;
  align-items: flex-end;

  @media screen and (max-width: 820px) {
    width: 100dvw;
    max-width: 100dvw;
  }
}

.home_carousel--info {
  background-color: #ffffff;
  width: fit-content;
  width: 30dvw;
  max-width: 100%;
  align-items: flex-start;
  flex-shrink: 0;

  @media screen and (max-width: 820px) {
    width: 100dvw;
  }
}

.home_carousel {
  position: relative;
  z-index: 99;
  overflow: hidden;
  width: 100%;
  height: 550px;
  display: flex;
  background-color: #ffffff;
  padding-block: 40px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: 100%;
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 75%,
        #ffffff 100%);
    z-index: 9;

    @media screen and (max-width: 820px) {
      width: 40px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 0;
    width: 140px;
    height: 100%;
    filter: blur(1px);
    background: linear-gradient(90deg,
        #ffffff 0%,
        #ffffff 50%,
        rgba(255, 255, 255, 0) 100%);
    z-index: 9;

    @media screen and (max-width: 820px) {
      width: 40px;
    }
  }
}

.home_carousel--band {
  display: flex;
  align-items: center;
  position: relative;
  width: 200%;
}

.home_carousel--inner-wrapper {
  display: flex;
  gap: 24px;
  width: 200%;
  margin-left: 24px;
}

.home_carousel--inner-wrapper>div {
  min-width: 200px;
  flex-shrink: 0;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
}

.home_carousel--item {
  width: 400px;
  height: 400px;
  background-color: #f9f9f9;
  border-radius: 24px;
}

.home_carousel--info-inner {
  --gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  gap: var(--gap);
  color: var(--secondary-color);
  font-family: var(--font-poppins), sans-serif;

  @media screen and (max-width: 820px) {
    align-items: center;
    gap: 8px;
  }

  h2 {
    font-size: max(1.2em, min(3em, 48px));
    font-weight: 600;
    line-height: 48px;
    text-align: end;
    @media screen and (max-width: 820px) {
     font-size: 24px;
  }
  }

  p {
    color: hsla(var(--e-global-text-color-hsl), 0.9);
    font-family: var(--font-dm-sans), sans-serif;
  }
}

.home_branches {
  display: flex;

  @media screen and (max-width: 820px) {
    flex-direction: column;
  }
}